* {
	padding: 0;
	margin: 0;
	font-family: monospace,monospace;
}
header {
	display: flex;
	align-items: center;
	background-color: black;
	height: calc((1vh + 1vw) * 4);
}
section {
	margin-bottom: 10vh;
	padding: 0 5vw 0 5vw;
}
.header__logo__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.header__logo{
	width: calc((1vw + 1vh) * 7);
	height: calc((1vw + 1vh) * 1.9);
	margin: calc((1vw + 1vh) * 0.7);
	background-color:black;
	background-image: url(/img/polytech_logo_main_black\ 1.jpg);
	background-position:center;
	background-size: cover;
}
.logo_picture {
	width: calc((1vw + 1vh) * 2);
	height: calc((1vw + 1vh) * 2);
	margin: 0 0 0 calc(1vh + 1vw);
	background-color:black;
	background-image: url("files/mospolytech-logo-white.png");
	background-position:center;
	background-size: cover;
}
.header__navigation {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content:space-evenly ;
	align-items: center;
	background-color:black;
	
}
.header__navigation a{
	color: white;
	font-size: calc((1vw + 1vh));
	outline: none;
	text-decoration: none;
	transition: .75s;
}
.header__navigation a:hover{
	transition: 0.75s;
	color: red;
	
}
form{
	display: flex;
	justify-content: space-between;
	border: 2px rgb(104, 104, 104) solid;
	border-radius: 25px;
	background-color: rgb(27, 27, 27);
	width: 15vw;
	display: flex;
	justify-content: space-between;
}
input {
	background-color: rgb(27, 27, 27);
	border: none;
	width: 80%;
	color: white;
	white-space: nowrap;
	margin-left: 1vw;
	outline: none;
	
}
.field-search__btn{
	background-color: rgb(27, 27, 27);
	border: none;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	color: white;
	cursor: pointer;
}
.field-search__btn:hover{
	transition: 0.75s;
	opacity: 0.7;
}
#new_project {
	display: block;
	height: auto;
	width: auto;
	color: black;
	background-color: rgb(255, 255, 255);
	border-radius: 25px;
	padding: calc((1vw + 1vh) * .19);
	font-size: calc((1vh + 1vw) * .8);
	font-weight: 900;
	text-align: center;
	transition: 0.75s;
}
#new_project:hover{
	transition: 0.75s;
	background-color: red;
	transform: scale(0.95, 0.95);
}
.nav__mail{
	display: block;
	height: calc((1vh + 1vw) * 1.8);
	width: calc((1vh + 1vw) * 1.8);
	background-color: black;
	transition: 0.75s;
}
.nav__mail:hover{
	transition: 0.75s;
	transform: scale(0.9, 0.9);
	opacity: 0.8;
}
#messege{
	background-image: url(/img/fi-rr-envelope.svg);
	background-position: center;
	background-size: cover;
	height: 24px;
	width: 24px;
	transition: 0.75s;
    margin-top: 10px;
}
.nav__notifications{
	height: calc((1vh + 1vw) * 2.4);
	width: calc((1vh + 1vw) * 2.4);
	background-color: black;
	background-image: url("/img/fi-rr-bell.svg");
	background-position: center;
	background-size: cover;
	transition: 0.75s;
	cursor: pointer;
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
.nav__notifications:hover{
	transition: 0.75s;
	transform: scale(0.9, 0.9);
	opacity: 0.8;
}
#user {
	display: block;
	height: calc((1vh + 1vw) * 1.8);
	width: calc((1vh + 1vw) * 1.8);
	border-radius: 50%;
	background-color: white;
	background-image: url("files/user.png");
	background-position: center;
	background-size: cover;
	transition: 0.75s;
}
#user:hover{
	transition: 0.75s;
	transform: scale(0.9, 0.9);
	opacity: 0.8;
}

.main__infomation{

    background: url(/img/Rectangle\ 6.jpg);
    height: 370px;
    width: 100%;
}

.main__title{
    color: #FFF;
    font-family: Gilroy;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}
.main__part{
    position: relative;
    top: 100px;
}




.main__txt{
    color: #FFF;
    font-family: Gilroy;
    font-size: 23.692px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
    margin-bottom: 10px;

}

.main__button{
    width: 236px;
    height: 53px;
    background-color:#EE3D50;
    color: #FFF;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}


.projects__title{
	color: #000;
	text-align: center;
	font-family: Gilroy;
	font-size: 55px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	margin-bottom: 40px;
}


.items_wrapper{
	display: flex;
	justify-content: space-between;
}
.project__item{
	background-color: rgb(255, 255, 255);
	width: 20vw;
	border: 1px black solid;
	transition: 0.75s;
}
.project__item:hover{
	transition: 0.75s;
	transform: scale(0.97, 0.97);
	cursor: pointer;
}
.project__item:active{
	transition: 0.1s;
	transform: scale(1, 1);
}
.item__image{
	width: 100%;
}
.item{
	display: flex;
	justify-content: space-between;
	font-size: calc((1vh + 1vw) * .6);
	margin: 2vh 2vw 2vh 2vw;
}
.item__bookmark{
	height: calc((1vh + 1vw) * 1);
	width: auto;
}
.item__description{
	text-align: left;
	font-size: calc((1vh + 1vw) * .7);
	padding: 2vh 2vw 2vh 2vw;
}
.item__collected{
	text-align: left;
	font-weight: bold;
	font-size: calc((1vh + 1vw));
	word-spacing: -5px;
	margin-left: 2vw;
}
.item__collect{
	font-weight:lighter;
	font-size: calc((1vh + 1vw) * .8);
	color: rgb(139, 139, 139);
}
progress{
	height: 1.7vh;
	border-radius: 0;
	border: 1px rgb(99, 99, 99) solid;
	width: 80%;
	margin-left: 50%;
	transform: translateX(-50%);
}
progress::-webkit-progress-bar{
	background-color: rgb(255, 255, 255);
}
progress::-webkit-progress-value{
	background-color: rgb(0, 192, 26);
}
.item__time{
	display: flex;
	margin: 2vh 2vw;
	justify-content: space-between;
	font-size: calc((1vh + 1vw) * .6);
	align-items: center;
}
.item__icon-time{
	height: calc((1vh + 1vw) * 1);
}
.item__date{
	width: 100%;
	margin-left: 1vw;
	word-spacing: -5px;
	color: rgb(139, 139, 139);
}
footer{
	height: 20vh;
	background-color: rgb(26, 26, 26);
	font-size: calc((1vw + 1vh) * .7);
	color: rgb(100, 100, 100);
	padding: 5vh 5vw;
}
.footer__wrapper{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	height: 100%;
}
.half{
	height: 50%;
}
.first_half{
	display: flex;
	justify-content: space-between;
}
.contacts{
	display: flex;
	width: 25vw;
	justify-content: space-evenly;
	align-items: center;
}
.second_half{
	display: flex;
	align-items: end;
}
.contact {
	background-position: center;
	background-size: cover;
	width: calc((1vh + 1vw));
	height: calc((1vh + 1vw));
	opacity: 0.5;
	transition: 0.75s;
}
.contact:hover{
	transition: 0.75s;
	opacity: 1;
}
.item__title{
	text-decoration: none;
	color: #000;
}